<div class="main">
  <div class="main-container">
    <div class="first-container">
      <div class="first-container-beggining">
        <img src="../../../assets/icons/fire.png">
        <h1>ToChat</h1>
      </div>
      <div class="first-container-middle">
        <a href="#">Pricing</a>
        <a href="#">Messages</a>
        <a href="#">Notifications</a>
      </div>
      <div class="first-container-end">
        <a class="end-first" href="#"><img src="../../../assets/icons/search.png"></a>
        <a class="end-second" href=""><img src="../../../assets/safety.png"></a>
      </div>
    </div>
  </div>
</div>