<div class="auth-container">
  <div class="top-container">
    <h1>ToChat</h1>
    <h2>Welcome Back</h2>
  </div>

  <div class="middle-container">
    <input
      type="text"
      placeholder="Email or Google"
      class="input-field"
    />

    <input
      type="password"
      placeholder="Password"
      class="input-field"
    />

    <button class="btn-signin">
      Sign In
    </button>

    <h3>
      <a href="/forgot-password">Forgot password?</a>
    </h3>

    <h3>
      Don’t have an account?
      <a href="/signUp">Sign up</a>
    </h3>
  </div>

  <div class="bottom-container">
    <div class="bottom-top-container">
      <a href="/impressum">Impressum</a>
      <a href="/helpSource">Help</a>
      <a href="/">Dating in Germany</a>
      <a href="/chatSource">Chat in Germany</a>
    </div>

    <div class="bottom-last-container">
      <h2>
        By signing in, you agree to our
        <a href="/termsC">Terms and Conditions</a>.
      </h2>
      <h2>
        Learn how we use your data in our
        <a href="/pPolicy">Privacy Policy</a>.
      </h2>
    </div>
  </div>
</div>