<div class="main">
  <div class="container">
    <h1>Sign Up</h1>
    <div class="container-menu">
      <div class="first-container">
        <h2>Favorite Movie</h2>
        <input type="text" placeholder="Favourite Movie" class="nameInput" >
      </div>
      <div class="second-container">
        <h2>Hobby</h2>
        <input type="text" placeholder="Hobby" class="surnameInput">
      </div>
      <div class="third-container">
        <h2>Smoker</h2>
        <input type="text" placeholder="Smoker" class="ageInput">
      </div>
    </div>
    <button (click)="next()">Next</button>
  </div>
</div>