<div class="auth-container">
  <div class="top-container">
    <h1>ToChat</h1>
    <h2>Single Parent Dating</h2>
  </div>

  <div class="middle-container">
    <input
      type="email"
      placeholder="Email"
      class="input-field"
      [(ngModel)]="email"
    />

    <input
      type="password"
      placeholder="Password"
      class="input-field"
      [(ngModel)]="password"
    />

    <input
      type="password"
      placeholder="Confirm Password"
      class="input-field"
      [(ngModel)]="confirmPassword"
    />

    <button class="btn-email" (click)="continueWithEmail()">
      Continue with email
    </button>

    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

    <h2>We don't share anything without permission</h2>
    <h3>
      Already have an account? <a href="/login">Sign in</a>
    </h3>
  </div>

  <div class="bottom-container">
    <div class="bottom-top-container">
      <a href="/impressum">Impressum</a>
      <a href="/helpSource">Help</a>
      <a href="/">Dating in Germany</a>
      <a href="/chatSource">Chat in Germany</a>
    </div>

    <div class="bottom-last-container">
      <h2>
        By signing up, you agree to our
        <a href="/termsC">Terms and Conditions</a>.
      </h2>
      <h2>
        Learn how we use your data in our
        <a href="/pPolicy">Privacy Policy</a>.
      </h2>
    </div>
  </div>
</div>