<div class="auth-container">
  <div class="top-container">
    <h1>ToChat</h1>
    <h2>Single Parent Dating</h2>
  </div>
  <div class="middle-container">
    <button class="btn-email">
      <img src="../../assets/icons/icons8-email-50.png" /> Continue with email
    </button>
    <button (click)="goToDetails()" class="btn-google">
      <img src="../../assets/icons/icons8-gmail-48.png" /> Continue with Google
    </button>
    <h2>We don't share anything without permission</h2>
    <h3>
      Already have an account? <a href="/login">Sign in</a>
    </h3>
  </div>
  <div class="bottom-container">
    <div class="bottom-top-container">
      <a href="/impressum">Impressum</a>
      <a href="/helpSource">Help</a>
      <a href="/">Dating in Germany</a>
      <a href="/chatSource">Chat in Germany</a>
    </div>
    <div class="bottom-last-container">
      <h2>
        By signing up, you agree to our
        <a href="/termsC">Terms and Conditions</a>.
      </h2>
      <h2>
        Learn how we use your data in our
        <a href="/pPolicy">Privacy Policy</a>.
      </h2>
    </div>
  </div>
</div>
