<div class="main">
  <div class="container">
    <h1>Sign Up</h1>
    <div class="container-menu">
      <div class="first-container">
        <h2>Name</h2>
        <input type="text" placeholder="Name" class="nameInput" >
      </div>
      <div class="second-container">
        <h2>Last Name</h2>
        <input type="text" placeholder="Last Name" class="surnameInput">
      </div>
      <div class="third-container">
        <h2>Age</h2>
        <input type="text" placeholder="Age" class="ageInput">
      </div>
    </div>
    <button (click)="next()">Next</button>
  </div>
</div>